<footer class="contact-footer">
	<div class="container-contact">
		<div class="contact-footer__inner flex">
			<div class="contact-footer__left">
				<p>Denteez Copyright 2015</p>
			</div>
			<div class="contact-footer__right">
				<a href="#" class="contact-footer__support">Support</a>
				<a href="#" class="contact-footer__policy">Privacy Policy</a>
				<a href="#" class="contact-footer__terms">Terms of use</a>
			</div>
		</div>
	</div>
</footer>