<header class="contact-header">
	<div class="contact-header__inner">
		<a href="/" class="contact-header__logo">
			<img src="img/logo.png" alt="logo">
		</a>
		<button class="contact-header__btn btn">Log In Now</button>
	</div>
</header>