<header class="header">
	<div class="container">
		<div class="header__inner flex">
			<a href="index.html" class="header__logo">
				<img src="img/logo.png" alt="logo">
			</a>
			<div class="header__search">
				<form class="header__search-form">
					<input type="search" class="search" placeholder="Company Name">
					<button class="search__btn"><img src="img/search.png" alt="search"></button>
				</form>
			</div>
			<div class="header__icons flex">
				<a href="contact.html" title="Contact us" class="header__icon header__icon-1"><img src="img/h_icon_1.png" alt="icon"></a>
				<a href="#" class="header__icon header__icon-2"><img src="img/h_icon_2.png" alt="icon"></a>
			</div>
			<div class="header__user">
				<div class="header__user-profile flex">
					<img class="header__photo" src="img/h_user.png" alt="photo">
					<span class="header__name">Maximillian Beekeeper</span>
				</div>
			</div>
		</div>
	</div>
</header>